<div style="margin-bottom: 1rem">
  <strong><%= message.username ?? message.user %></strong> <%= new Date(parseFloat(message.ts) * 1000).toLocaleString() %> <br />
  <%= message.text %>
  <pre><%= JSON.stringify(message) %></pre>
</div>
