<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Viewing channel | Slack Archiver</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body>
    <% messages.forEach(message => { %>
      <%- include('message', { message }) %>
    <% }) %>
  </body>
</html>

